<p style="color: green"><%= notice %></p>

<div>
  <% if @department.cover.attached? %>
    <div>
      <%= image_tag @department.cover, alt: "Department cover" %>
    </div>
  <% end %>
  <p>
    <strong>Name:</strong>
    <%= @department.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @department.description %>
  </p>

  <%= link_to "New Employee", new_employee_path %>
</div>

<div>
  <%= link_to "Back to departments", departments_path %>
</div>

<div>
<% @department.employee.each do |employee| %>
  <p> <%= employee.name %> </p>
  <p> <%= employee.position %> </p>
  <%=link_to "Edit", edit_employee_path(employee) %>
  <%=link_to "Destroy", employee_path(employee), data: { turbo_method: :delete, confirm: "Are you sure?" } %>
<% end %>
</div>